<div class="col-sm-3">
    <h3 class="lighter smaller">Connect with Us</h3>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-facebook"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.facebook.com/heliumstudy"
               target="_blank">Like us on</a>

            <div class="infobox-content">Facebook</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-linkedin"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.linkedin.com/company/heliumedu"
               target="_blank">Follow us on</a>

            <div class="infobox-content">LinkedIn</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-github"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.github.com/HeliumEdu"
               target="_blank">Follow us on</a>

            <div class="infobox-content">GitHub</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <img src="{{ ASSETS_PREFIX_VERSIONED }}/img/paypal.png" alt="PayPal" width="42" height="42"
             style="margin-top: -30px; margin-left: 2px;"
             class="inline"/>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.paypal.me/alexdlaird"
               target="_blank">Donate on</a>

            <div class="infobox-content">PayPal</div>
        </div>
    </div>

    <div class="infobox">
        <a href="https://www.patreon.com/alexdlaird" target="_blank"><img
                src="{{ ASSETS_PREFIX_VERSIONED }}/img/support_patreon.png"
                style="max-width: 97%; padding-top: 5px"/></a>
    </div>
</div>