<div id="tab-account"
     class="tab-pane fade">
    <h4 class="orange page-header">
        <i class="icon-cog bigger-110"></i>
        Account
    </h4>

    <div id="status_account" class="alert hidden"></div>

    <div class="space-8"></div>

    <p class="text-muted">
        To change your username, email, or password, please use the
        <a href="https://app.heliumedu.com/settings" target="_blank">new Helium app</a>.
    </p>

    <hr/>

    <div class="form-group col-xs-12">
        <div class="col-sm-3 col-md-2">
            <button type="button" class="btn btn-sm btn-danger left-buffer-15" id="delete-account">
                <i class="icon-trash"></i>
                Delete Account
            </button>
        </div>
        <div class="col-sm-3 col-md-4">
            <button type="button" class="btn btn-sm btn-warning left-buffer-15" id="delete-all-events">
                <i class="icon-trash"></i>
                Delete All Events
            </button>
        </div>
        <div class="col-sm-6">
            <div id="account-loading" class="loading-mini">
                <div id="loading-account"></div>
            </div>
        </div>
    </div>
</div>